﻿@using System.Web.Optimization

@{
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тестовое задание</title>

    @{

    }
</head>

@Styles.Render("~/Content/css")
@RenderSection("styles", required: false)

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="height: 60px;width: 100px; padding-bottom: 5px; padding-top: 5px;">
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style=" margin-top: 80px;    min-height: 345px;">
        @RenderBody()
    </div>
    <div class="footer navbar-fixed-bottom">

    </div>
</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")

@RenderSection("scripts", required: false)
<script>
</script>