﻿@{
    Layout = null;
}

@using (Ajax.BeginForm("Search", "Home", new AjaxOptions() { HttpMethod = "POST", OnComplete = "onSearchComplete" }, new { @class = "" }))
{
    <div style="margin-bottom: 30px;">
        <div class="alert-danger alert hidden" role="alert"><span></span><p id="errorDescription" style="font-size: 14px;"></p></div>
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group col-md-12">
                @Html.Label("Пункт отправления", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("OriginId", new List<SelectListItem>(), new { @class = "form-control" })
                    @Html.ValidationMessage("OriginId", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.Label("Дата начала периода", new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    <input id="DepartDate" name="DepartDate" type="date" class="form-control" value="2016-06-02">
                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.Label("Тип периода", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("PeriodType", new List<SelectListItem>(), new { @class = "form-control" })
                    @Html.ValidationMessage("PeriodType", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.Label("Длительность пребывания в неделях", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("ResidencePeriod", new List<SelectListItem>(), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-6" style="margin-top : 30px;">
                <button type="submit" class="btn btn-success col-md-1" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;Искать</button>
            </div>
        </div>
    </div>
}