﻿@using BestPriceOfTheFlightWebService.ViewModels

@model HomeIndexVM

@{
    ViewBag.Title = "Index";
}

@section styles{
    @Styles.Render("~/Content/price-table")
}
<div class="form-inline">
    <div class="form-group col-md-12">
        @Html.Partial("~/Views/Home/Form.cshtml")
    </div>
    <div class="form-group col-md-12">
        <div class="form-horizontal col-md-12" style="margin-bottom: 50px;">
            <div id="tableContainer" class="form-group col-md-12" style="min-height : 200px;">
            </div>
            <textarea readonly id="jsonContainer" class="form-group col-md-12" style="min-height : 200px;max-height : 200px;" placeholder="Json-данные"></textarea>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/priceResult")
}
