﻿@using BestPriceOfTheFlightWebService.ViewModels
@using System.Web.Helpers
@using BestPriceOfTheFlightWebService.App_Code

@model PriceTableVM

@{
    Layout = null;
    bool isElementsExist = Model.ModelsContract.Models != null && Model.ModelsContract.Count > 0;
    WebGrid grid = new WebGrid(null, rowsPerPage: Model.PageSize, canPage: true, ajaxUpdateContainerId: "tableContentContainer", ajaxUpdateCallback: "onGridLoaded()");
    grid.Bind(Model.ModelsContract.Models, rowCount: (int)Model.ModelsContract.Count, autoSortAndPage: false);
}

<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-12 col-md-offset-0" style=" padding: 0px;">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-12 text-right">
                        </div>
                    </div>
                </div>
                <div id="tableContentContainer" class="panel-body">
                    @if (isElementsExist)
                    {
                        <text>
                            @grid.Table(
                                tableStyle: "table table-striped table-hover",
                                headerStyle: "webgrid-header",
                                alternatingRowStyle: "webgrid-alternating-row",
                                selectedRowStyle: "webgrid-selected-row",
                                rowStyle: "webgrid-row-style",
                                htmlAttributes: new { id = "priceGrid" },
                                columns: grid.Columns(
                                               grid.Column(columnName: "Destination", header: "Пункт назначения", style: "price-destination", format: (item) => ASP.PriceSearchViewRenerHelper.Destination(item.Value.Destination), canSort: false),
                                                  grid.Column(columnName: "Value", header: "Сумма", style: "price-value", format: (item) => ASP.PriceSearchViewRenerHelper.Sum(item.Value.Value), canSort: false),
                                               grid.Column(columnName: "DepartDate", header: "Вылет", style: "price-departDate", format: (item) => ASP.PriceSearchViewRenerHelper.DepartDate(item.Value.DepartDate), canSort: false),
                                               grid.Column(columnName: "ReturnDate", header: "Обратно", style: "price-returnDate", format: (item) => ASP.PriceSearchViewRenerHelper.ReturnDate(item.Value.ReturnDate), canSort: false)
                                    ))

                            @if (grid.PageCount > 1)
                            {
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col col-xs-8">
                                            @grid.PagerList(WebGridPagerModes.All, activePage : Model.Page)
                                        </div>
                                    </div>
                                </div>
                            }
                        </text>
                    }
                    else
                    {
                        <div class="alert alert-info" role="alert">
                            Нет элементов
                        </div>
                    }
                </div>
            </div>
            @Html.Hidden("CurrentPage", Model.Page)
        </div>
    </div>
</div>