﻿@helper Destination(string value)
{
    <text>@value</text>
}
@helper Sum(decimal value)
{
    <text>@Math.Round(value, 2).ToString()</text>
}
@helper DepartDate(DateTime value)
{
    <text>@(value.ToString("dd") + " " + value.ToString("MMM") + " " + value.ToString("HH:mm"))</text>
}
@helper ReturnDate(DateTime value)
{
    <text>@(value.ToString("dd") + " " + value.ToString("MMM") + " " + value.ToString("HH:mm"))</text>
}